<html lang="uk">
    {{> head }}
<body data-page="{{pageCode}}">
<div class="layout">
    {{> header }}
    {{> aside }}
    <main class="main">
        {{> @partial-block }}
    </main>
    {{> footer }}
</div>
<script type="module" src="/src/main.js"></script>
</body>
</html>